page{
  height: 100vh;
  .report_page{
    border: 30rpx solid rgb(245, 245, 245);
    padding: 30rpx;
    background-color: #fff;
    height: 90%;
    .at-list__item{
      padding: 24rpx 32rpx;
    }
    .description{
      display: flex;
      padding: 32rpx;
      text{
        margin-right: 16rpx;
        width: 172rpx;
        font-size: 32rpx;
        line-height: 1.5;
        vertical-align: middle;
        text-align: left;
      }
    }
    .submit_nav{
      position: fixed;
      bottom: 80rpx;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      .submit_btn{
        width: 80%;
      }
    }
    .at-modal__content{
      min-height: auto;
      .content-simple{
        text-align: center;
      }
    }
  }
}